body {
    font-family: sans-serif;
    font-size:15px;
    background-color:#8B814C;

    }

nav {
    color:blue;
    border:margin-end:600px;
    background-color:#FFEC8B;
    color:#008B00;


}

h1{

text:align-center;
}

h2 {
text-align:center;}

.bg{
background:url(../images/) no repeat;
width:100%;
height:100%;
background-size:100%;
}

.form-container{
top:15vh;
background:#fff;
padding:30px;
    border-radius:10px;
    box-shadow: 0px 0px 10px 0px #000;

}

.error{
color:red;
}
.header{
max-width:100%;
height:100%;


color:white;
margin-top:50px auto 0px;
margin-bottom:100px;
background:rgb(30, 144, 255);
text-align:center;
border:1px solid #B0C4DE;
border-bottom:none;
border-radius:10px 10px 10px 10px;
padding-top:40px;
padding-bottom:5px;

}

input[type="checkbox"] {
  font-size: 300px;
}

.radio input[type='radio'] {
  border: 0px;
  width: 100%;
  height: 2em;
}
.lang{
float-right;
}