
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head"></head>
<body  style="margin-top:100px;">
<nav th:replace="fragments :: navigation"></nav>

<div class="container py-5">
    <!--<h4 class="text-uppercase text-center">your card information </h4>-->
    <div class="card">
        <div class="card-header bg-danger text-white">
            <h4 class="text-uppercase text-center" th:text="${title}"></h4>
        </div>


        <div class="card-body">
            <form method="post" th:object="${category}">
                <div class="form-row">
                    <div class="col-md-6">
                        <label><b>Category Name</b></label>
                        <input type="text" placeholder="Enter your Category Name" class="form-control" th:field="*{categoryName}"/>
                        <span th:errors="*{categoryName}" class="error"></span>

                    </div>
                </div>
               <br/>
                        <div class="form-row">
                            <div>
                            <input type="checkbox" id="deptA" name="deptAllowed" value="Applicable"
                                   th:field="*{deptAllowed}"/>
                            <input name="_deptA" type="hidden" value="on" />
                            <label for="deptA" ><b>Department Allowed</b></label>
                            </div></div>
                <div style="margin-top:15px;">
                    <!--<button type="submit" class="btn btn-danger rounded-0" value="cancel">Cancel</button>-->
                    <button type="submit" class="btn btn-primary rounded-0"
                            value="Add category">Add Category</button>
                </div>
            </form>

        </div>
    </div>
</div>
        </body>

</html>