<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text ="${title}">Reward Center</title>

    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />-->
    <!-- This version is not working in spring boot version 2.1.2-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body class="container-fluid" style="max-width:200%">
<nav th:fragment="navigation">
    <nav class="navbar navbar-expand-xl navbar-dark fixed-top" >
        <nav class = "container-fluid">
            <ul class="nav navbar-nav navbar-right"><li>
            <a class="navbar-brand"  style="color:#008B00; " href="/user/base">
                <!--<b>Reward Center</b>-->
                <i class="glyphicon glyphicon-credit-card"></i>
                <img src="/css/Logo1.png" width="50%" height="90%" style="align:left;
                margin-right:20px;
                background-color:#20B2AA;" class="image-responsive"/>


            </a>
            </li></ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--<div class="collapse navbar-collapse" id="navbarNav">-->
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">

            <ul class="navbar-nav mr-auto">
                <p th:if="${session.username} != null">

                <li class="nav-item active" >
                    <a class="nav-link" style="color:#DC143C; " href="/offer/">Offers <!--span class="sr-only">(current)</span--></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" style="color:#DC143C;" href="/department/">Departments </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link"  style="color:#DC143C;" href="/category/">Categories </a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" style="color:#DC143C;" href="/card/">Cards </a>
                </li>
                  </p>
                <p th:if="${session.username} == null">
                <li class="nav-item active">
                    <a class="nav-link" style="color:#8B2323; " href="/user/signup">Sign up </a>

                </li>
                <li class="nav-item active">
                    <a class="nav-link" style="color:#8B2323;" href="/user/signin">Sign in </a>
                </li>

                </p>



            </ul></div>

                <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <p th:if="${session.username} != null">

                    <li class="nav-item active">
                    <a class="nav-link" style="color:#8B2323; margin-auto:0;" href="/user/signout"><strong>Sign out</strong> </a>
                    </li>&nbsp;&nbsp;&nbsp;&nbsp;
                    </p>

            <li class="nav-item active">
                    <div id="google_translate_element"></div>

                    <script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>

                    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

                </li>
            </ul>
            <!--</div>-->
            </div>
        </nav></nav></nav>
</body>
</html>