<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head"></head>

<body class="container-fluid" style="margin-top:100px;">
<nav th:replace="fragments :: navigation"></nav>
    <!--<h4 class="text-uppercase text-center">your card information </h4>-->
<div class="container py-1">

    <div class="card">
        <div class="card-header bg-danger text-white">
            <h4 class="text-uppercase text-center" th:text="${title}">
            </h4></div>
        <div class="card-body">
    <form method="post" th:object="${department}">
    <div class="form-row">
        <div class="col-md-6">
        <label for="exampleFormControlInput1">Department Name</label>
        <input type="text" class="form-control" id="exampleFormControlInput1"
               placeholder="Enter the department name" th:field="*{deptName}" />

        <span th:errors="*{deptName}" class="error"></span>
        </div></div>

    <div class="form-row">
        <div class="col-md-6">
        <label for="exampleFormControlTextarea1">Description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                  th:field="*{description}"></textarea>
            <span th:errors="*{description}" class="error"></span></div></div>
        <div style="margin-top:15px;">
            <!--<button type="submit" class="btn btn-danger rounded-0" value="cancel">Cancel</button>-->
            <button type="submit" class="btn btn-primary rounded-6">Add Department</button>
        </div>
    </form>
        </div>
    </div>
</div>
</body>
</html>